/*import fonts*/
@import url("./fonts/Roboto/Roboto-Regular.ttf");
@import url("./variables.css");
/* document the code*/
/* general */
body {
  background-color: var(--title-color);
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin: 20;
  padding: 20;
}

.container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.section {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;

}

/* rectangle 1 - graphs design */
.outer-rectangle1 {
  width: 200%;
  height: 100%;
  background-color: #37353592;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  float: center;
  display: grid;

}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.inner-rectangle11 {
  width: 100px;
  height: 25px;
  background-color: #F25022;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  color: white;
  float: left;
}
.inner-rectangle11:hover {
  background-color: #ff6600;
  color: white;
}
.inner-rectangle12 {
  width: 100px;
  height: 25px;
  background-color: #F25022;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  color: white;
  float: center;
}
.inner-rectangle12:hover {
  background-color: #ff6600;
  color: white;
}
.inner-rectangle13 {
  width: 100px;
  height: 25px;
  background-color: #F25022;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  color: white;
}
.inner-rectangle13:hover {
  background-color: #ff6600;
  color: white;
}
.graph-container {
  width: 90%;
  height: 180px;
  background-color: #ffffffcf;
  border-radius: 10px;
  overflow: hidden;
}
/* rectangle 2 omit*/
/* rectangle 3 - Transaction history design*/
.outer-rectangle3 {
  width: 90%;
  height: 180%;
  background-color: #37353592;
  border-radius: 10px;
  padding: 10px;
  position: right;
  display: grid;
  margin: 11px;
  
}

.inner-rectangle31 {
  width: 100%;
  height: 25%;
  background-color: #7FBA00;
  border-radius: 5px;
  text-align: center;
  color: white;
  float: left;
}

table {
  width: 100%;
  border-collapse: collapse;

}

th, td {
  border-bottom: 1px solid #90ce0a;
}

th {
  background-color: #7FBA00;
  border-radius: 5px;
  text-align: center;
  
}

button {
  background-color: #90ce0a;
  color: #fff;
  border: none;
  box-shadow: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

label {
  flex-basis: 100%;
}

input[type="date"], input[type="text"], input[type="number"] {
  flex-basis: 80%;
  border: 1px solid #7FBA00;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #7FBA00;
  color: #fff;
  border: none;
  width: 100%;
  height: 20%;
  border-radius: 5px;
  cursor: pointer;
}

/* rectangle 4 microsoft - design */

/*button 1 : balance */

.btn1{
  background-color: #F25022;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn1:hover {
  background-color: #ff6600;
  color: white;
}
.section-box1 {
  border: 1px solid #f24f22cf;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
}

.section-title1 {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #f24f22cf;
}
.input-field label {
  color: #ffffff;
}

.input-field input {
  border: 2px solid #f24f22cf;
  border-radius: 5px;
  width: 80%;
}

.total-amount button {
  background-color: #f24f22cf;
  width: 70%;
  height: 20%;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.total-amount p {
  color: #ffffff;
}

.total-amount span {
  color: #ff5500;
  font-weight: bold;
  border-radius: 5px;
  
}


/* button 2 : Income */
.btn2 {
  background-color: #7FBA00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn2:hover {
  background-color: #90ce0a;
  color: white;
}
.section-box2 {
  border: 1px solid #7FBA00;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
}

.section-title2 {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #7FBA00;
}


/* button 3 : Expense */
.btn3 {
  background-color: #00A4EF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn3:hover {
  background-color: #1ab1f7;
  color: white;
}
.section-box3 {
  border: 1px solid #00A4EF;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
}

.section-title3 {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #00A4EF;
}
/* button 4 : Savings */
.btn4 {
  background-color:  #FFB900;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn4:hover {
  background-color: #f9c73b;
  color: white;
}
.section-box4 {
  border: 1px solid #FFB900;
  border-radius: 5px;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
}

.section-title4 {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #FFB900;
}

/* rectangle 5 design */
.outer-rectangle5 {
  width: 97%;
  height: 78%;
  background-color: #37353592;
  border-radius: 10px;
  padding: 10px;
  position: right;
  display: grid;
  margin: 15px;
}

.inner-rectangle51 {
  width: 100%;
  height: 70%;
  background-color: #00A4EF;
  border-radius: 5px;
  text-align: center;
  color: white;
  float: left;
}


.sidebar {
  width: 200px;
  height: 90%;
  background-color: #4b49498a;
  position: fixed;
  left: 0;
  top: 10px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  display: block;
  text-decoration: none;
  color: #efecec;
  font-weight: bold;
}

.sidebar-menu li a:hover {
  color: #ff6600;
}

.content {
  margin-left: 220px; 
  padding: 20px;
}

.card-section {
  margin-top: 20px;
}

.card-form input {
  display: block;
  margin-bottom: 10px;
}

.card-form button {
  margin-top: 10px;
}

.card {
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.outer-rectangle4 {
  width: 97%;
  height: 78%;
  background-color: #37353592;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 15px;

}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card1 .flip-card-front {
  background-color: #ff6600;
}

.card2 .flip-card-front {
  background-color: #7FBA00;
}

.card3 .flip-card-front {
  background-color: #00A4EF;
}

.card4 .flip-card-front {
  background-color: #ffbb00;
}
.card1 .flip-card-back {
  background-color: #ffffff;
}

.card2 .flip-card-back {
  background-color: #ffffff;
}

.card3 .flip-card-back {
  background-color: #ffffff;
}

.card4 .flip-card-back {
  background-color: #ffffff;
}
.card1 .flip-card-front {
  background-color: #ff6600;
}

.card2 .flip-card-front {
  background-color: #7FBA00;
}

.card3 .flip-card-front {
  background-color: #00A4EF;
}

.card4 .flip-card-front {
  background-color: #ffbb00;
}

.flip-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-card-front {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  background-color:rgb(247, 240, 240)0;
  color: #000000;
  transform: rotateY(180deg);
  display: flex;
  font-style: italic;
  justify-content: center;
  align-items: center;
}

/* goals section */
.centered-pair1 {
  display: flex;
  justify-content: center;
}

.goals{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.goals .text {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 30%;
}

.goals .image1 {
  text-align: center;
  margin-left: 20%;
  padding: 10px;
}

.goals img {
  max-width: 100%;
  height: auto;
}
/* income section */
.centered-pair2 {
  display: flex;
  justify-content: center;
}

.income {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.income .image2 {
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  max-width: 60%;
  
}

.income .text2{
  text-align: center;
  margin-left: 10%;
}

.income img {
  max-width: 100%;
  height: auto;
}
/* expense section */
.centered-pair3 {
  display: flex;
  justify-content: center;
}

.expense{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.expense .text3 {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 30%;
}

.expense .image3 {
  text-align: center;
  margin-left: 20%;
  padding: 10px;
  max-width: 60%;
}

.expense img {
  max-width: 100%;
  height: auto;
}
/* savings section */
.centered-pair4 {
  display: flex;
  justify-content: center;
}

.savings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.savings .image4 {
  text-align: center;
  margin-right: 20px;
  padding: 10px;
  max-width: 60%;
}

.savings .text4{
  text-align: center;
  margin-left: 10%;
}

.savings img {
  max-width: 100%;
  height: auto;
}